<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>LinkedIn Coursera</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet"
          th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css"/>
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet"
          th:href="@{/css/bootstrap.css}"
          href="../css/bootstrap.css"/>
    <!-- Custom CSS -->
    <link rel="stylesheet"
          th:href="@{/css/stylish-portfolio.css}"
          href="../css/stylish-portfolio.css"/>
    <link rel="stylesheet" media="screen"
          th:href="@{/assets/css/main.css}"
          href="../assets/css/main.css"/>    <!-- Custom Fonts -->

    <link rel="stylesheet"
          th:href="@{/font-awesome/css/font-awesome.min.css}"
          href="../font-awesome/css/font-awesome.min.css"/>

    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<ul class="nav nav-pills">
    <li role="presentation" class="active"><a href="#">Home</a></li>
    <li role="presentation"><a href="/recommendations/jobs">Jobs</a></li>
    <li role="presentation"><a href="/recommendations/courses">Courses</a></li>
    <li role="presentation"><a href="#footer">About</a></li>
</ul>

<!-- Header -->
<section id="top" class="header">
    <div class="text-vertical-center">

     <div class="col-lg-12 text-center">
        <div class="item mb centered">
            <p><img class="img-circle" th:src="${profilePhotoUrl}" width="150"></p>
            <h2 th:text=${userName}>"</h2>
            <h3>Headline:</h3> <p th:text="${headline}"></p>
            <h3>Summary :</h3> <p th:text="${summary}"></p>
            <h3>Skills :</h3>
            <span th:each="skill : ${skills}">
                <span th:text="${skill}"></span>
            </span>
            <h3>Work History</h3>
            <span th:each="position : ${positions}">
                <span th:text="${position.title}"></span>
                <span>at</span>
                <span th:text="${position.companyName}"></span>
                <br />
            </span>

            <h3>Education</h3>
            <span th:each="education : ${education}">
                <span th:text="${education.degree}"></span><span> in</span>
                <span th:text="${education.fieldOfStudy}"></span><span> at </span>
                <span th:text="${education.schoolName}"></span>
                <br />
            </span>

        </div>
    </div>
    </div>
</section>

<!-- Footer -->
<footer id="footer" class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h4><strong>CMPE 273</strong></h4>
                <h4><strong>Prof. Sithu Aung</strong></h4>
                <h4><strong>San Jose State University</strong></h4>
                <p>One Washington Square<br>San Jose, CA 95112</p>
                <ul class="list-unstyled">
                    <li><i class="fa fa-phone fa-fw"></i> (123) 456-7890</li>
                    <li><i class="fa fa-envelope-o fa-fw"></i>  <a href="mailto:name@example.com">cmpe273@sjsu.edu</a>
                    </li>
                </ul>
                <br>
                <ul class="list-inline">
                    <li>
                        <a href="#"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-dribbble fa-fw fa-3x"></i></a>
                    </li>
                </ul>
                <hr class="small">
                <p class="text-muted">Copyright &copy; Your Website 2014</p>
            </div>
        </div>
    </div>
</footer>

<!-- jQuery -->
<script th:href="@{/js/jquery.js}" href="../js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script th:href="@{/js/bootstrap.min.js}" href="../js/jquery.js"></script>

<!-- Custom Theme JavaScript -->
<script>
    // Closes the sidebar menu
    $("#menu-close").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });

    // Opens the sidebar menu
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });

    // Scrolls to the selected menu item on the page
    $(function() {
        $('a[href*=#]:not([href=#])').click(function() {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html,body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });
    });
    </script>

</body>

</html>
