<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<title>Error</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="stylesheet"
          th:href="@{/css/style.css}"
          href="../css/style.css"/>
</head>
<body>
<div class="wrap">
	<center><h1>Error 404</h1></center>
	<div class="banner">
		<img th:src="@{/img/banner.png}" alt="" />
	</div>
	<div class="page">
		<h2>Oops, we can't find that page!</h2>
	</div>
	<div class="footer">
		<p>Design by <a href="#">cmpe273</a></p>
	</div>
</div>
</body>
</html>

